body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	
}

svg {
	background-color: red;
}

h1 {
	text-align: center;
	color: red;
}

h2 {
	
}


